# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

SECRET_APIKEY= # your key here
SECRET_APITOKEN= # your token here

BOARD_ID = SqmIler01 # Trello board name
