{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <p><a href="/NewItem.html">New Item</a></p>

  <div class="row">
    <div class="col-md-12">
      <h2>To Do Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.todo %}
          <li><a href="/EditItem.html?id={{ item.id }}" name="edit-{{item.name}}">{{item.name}} - {{item.desc}}</a></li>
        {% endfor %}
          </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Doing Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.doing %}
          <li><a href="/EditItem.html?id={{ item.id }}" name="edit-{{item.name}}">{{item.name}} - {{item.desc}}</a></li>
        {% endfor %}
          </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Done Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.done %}
          <li><a href="/EditItem.html?id={{ item.id }}" name="edit-{{item.name}}">{{item.name}} - {{item.desc}}</a></li>
        {% endfor %}
          </ul>
    </div>
  </div>
  <form action="" method="post" class="form-example">
  <br>
  <input type="submit" value="Show/Hide Older Done Items">
  </form>
{% endblock %}